@import 'src/variables';

.root {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 66px;
  padding: 0 36px;

  border: none;
  border-radius: 11px;
  box-shadow: inset 0 -9px 0 rgba(0, 0, 0, 0.18);
  background: #73d677;
  outline: none;

  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #212121;

  &:active {
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.18);
    padding-bottom: 4px;
  }

  &:hover {
    cursor: pointer;
  }
}

.sm {
  max-width: 231px;

  font-size: 18px;
}

.md {
  max-width: 255px;
}

.lg {
  width: 100%;
}

.yellow {
  background: $third;
}
