@import 'src/_variables.scss';

.root {
  min-height: 100vh;
  background: rgb(241, 187, 10);
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  padding: 8rem 0;
}

.inner {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
}

.text {
  flex: 1;
}

.title {
  margin-bottom: 4rem;
}

.description {
  margin-bottom: 4rem;
}

.parallax {
  flex: 1;
}
