.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  padding: 0;
  margin: 0;
}

.h1 {
  font-style: normal;
  font-size: 72px;
  letter-spacing: 4px;
}

.h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

.h3 {
  font-size: 18px;
}

.h4 {
  font-size: 16px;
}

.h5 {
  font-size: 13px;
}

.h6 {
  font-size: 10px;
}

.inline {
  display: inline;
}

.lineBreak {
  white-space: pre-wrap;
}
