@import 'src/variables';

.root {
  height: 93px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 16px rgba(1, 28, 64, 0.2);
  background: $third;
}

.wrap {
  width: 100%;
  max-width: 1280px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemonLogo {
  width: 158px;
  height: 63px;
}

.menuWrap {
  display: flex;
  align-items: center;
  max-width: 658px;
  width: 100%;
  justify-content: space-between;
}

.menuLink {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: $dark;
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    height: 1px;
    width: 1%;
    background: $dark;
    border: 1px solid $dark;
    border-radius: 6px;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity, width ease-in-out 0.15s;
  }

  &:hover,
  &.activeLink {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
