@import 'src/variables';

.root {
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

.link {
  color: $dark;
  text-decoration: none;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: $dark;
  }

  &:hover {
    text-decoration: underline;
  }
}
