.root {
  height: 100%;
  position: relative;

  div {
    position: absolute;

    img {
      user-select: none;
      pointer-events: none;
    }
  }
}

.cloudSmall {
  bottom: 120px;
}

.cloudBig {
  top: 40px;
  right: -160px;
}

.pickachu {
  z-index: 10;
}

.pokeballSmall {
  top: 10px;
  left: 40px;
}

.pokeballBig {
  position: absolute;
  right: -40px;
  top: 10px;
}
