@import 'src/variables';

.root {
  min-height: 100vh;
  background: $danger;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.errorCode {
  font-size: 48rem;
  color: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.img {
  margin-bottom: 1rem;
}

.textWhite {
  color: $white;
}

.text {
  margin-bottom: 2rem;
}
